 body {
   margin: auto 0;
   padding: 0 auto;
   font-family: sans-serif;
   font-family: 'Saira Semi Condensed', sans-serif;
   
 }

 .container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
 }

 /* #image1 {
   position: absolute;
   top: 80px;
   left: 200px;
   width: 280px;
   z-index: -1;
   opacity: 0.4;
 } */

 #nav-bar {
   position: fixed;
   min-width:290px;
   top:0px;
   left:0px;
   height: 100%;
   width: 200px;
   border-right: solid 2px #425F4B;
   box-shadow: 1px 1px 18px 2px #192E2F;
   background: rgb(255, 255, 255);
   font-size: 18px;
 }

#nav-bar ul{
  height: 84%;
  overflow-y: auto;
  overflow-x: hidden;
  
}

#nav-bar li {
  border:1px solid;
  border-radius: 20px;
  margin: 15px;
  border-bottom-width:5px;
  padding:10px;
  padding-left:10px;
  list-style: none;
  position:relative;
  left:-48px;
  width: 100%;
  color: #425F4B;
}

#nav-bar a {
  text-decoration: none;
  cursor:pointer;
  color: rgb(8, 8, 8);
}

header {
  margin: 20px;
  text-align: center;
  font-size: 25px;
  margin:10px;
}

#main-doc {
  grid-column:  2 / 4;
  position: absolute;
  margin-left: 290px;
  padding: 25px;
  margin-bottom: 100px;
  line-height: 1.5rem;
}

#main-doc header {
  text-align: left;
  margin: 0;
}

section article {
  margin:30px;
  color: #4d4e53;
}

section li {
  margin: 2px 0px 0px 20px;
  
}

section ul {
  background: rgb(227, 230, 224);
  border-radius: 12px;
  font-size: 0.95rem;
}

h2 {
  background: #3A595C;
  height: 40px;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 20px;
  color: #FFFFFF;
}

/*@media query*/
@media only screen and (max-width: 800px) {
  #nav-bar-ul {
    border: 1px solid;
    height: 207px;
  }

  #nav-bar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    padding-left: 0px;
    width: 100%;
    max-height: 390px;
    border: none;
    z-index: 1;
    border-bottom:5px solid #425F4B;
    border-style: outset #425F4B;
  }
  
  #nav-bar li {
    padding-left: 15px;
  }
 

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 400px;
  }

  @media only screen and(max-width: 400px){
    #main-doc {
      margin-left: -10px;
    }
    
  }
}
/*MAIN DOCUMENTAION AND SECTION*/
